<%= form_tag(notify_friend_article_path(@article), id: 'notify_friend_form', style: 'display:none') do %>
	<div class="field">
		<%= label_tag :name, 'Tu nombre' %>
		<%= text_field_tag :name %>
	</div>
	<div class="field">
		<%= label_tag :email, 'Email de tu amigo' %>
		<%= text_field_tag :email %>
	</div>
	<div class="actions">
		<%= submit_tag 'enviar' %> or
		<%= link_to 'cancelar', '#', onclick: "$('#notify_friend_form').slideUp()" %>
	</div>
<% end %>